@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.background {
  background-image: linear-gradient(160deg, rgba(0, 147, 233, 0.5) 40%, rgba(0,128,128, 0.5) 70%),
  radial-gradient(ellipse closest-corner at 50% 50%, rgba(34,193,195, 0.6) 0%, rgba(255,255,255,0.0) 100%),

  /*rgb
  blue = rgb(0, 165, 207)
  green = rgb(74, 124, 89)
  linear-gradient(rgba(95,158,160, 0.5),rgba(72, 61, 139,0.3)) ,
  radial-gradient(ellipse closest-corner at 50% 50%, rgba(34,193,195, 0.5) 0%, rgba(253,187,45,0.4) 100%),background-color: #0093E9;
  background-image:

  #0093E9 0%, #80D0C7 100%)

    radial-gradient(ellipse closest-corner at 50% 50%, rgba(34,193,195, 0.5) 30%, rgba(253,187,45,0.0) 100%),

  */
  url("images/cohort2018.JPG") ;
  background-size: cover;
  background-position: 35% 65%;
  height: 500px;
  color: white;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)) ,url("images/camp2024.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.background.row {
  --bs-gutter-x: 0;
}

.title {
  font-family: 'Nothing You Could Do', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: lightgray;
}

.teal-background {
  background-color: #25A18E;
  color: white;
}

.blue-background {
  background-color: #00A5CF;
  color: white;
}

.green-background {
  background-color: #4a7c59;
  color: white;
}

.video {
  overflow: auto;
  display: block;
  height: fit-content;
}

.colorblocktop {
  padding-top: 20px;
}

.row {
  margin-right: 0;
}

a.bi {
  color: white;
}

.row>video {
  width: 75%;
  height: 500px;
}





