@import url('https://fonts.googleapis.com/css?family=Poppins');



.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.8)) ,url("https://manoa.hawaii.edu/omsshui/images/2017-peer-mentors.jpg") ;
  background-size: cover;
  height: 500px;
  color: white;
}

.background.row {
  --bs-gutter-x: 0;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: lightgray;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://manoa.hawaii.edu/omsshui/rio/images/8.jpg') no-repeat center center fixed;
  color: white;
}

.blue-background {
  background-color: cadetblue;
  color: white;
}

.colorblocktop {
  padding-top: 20px;
}

body {
  font-family: "Calibri Light", serif;
}

.row {
  margin-right: 0;
}

