@import url('https://fonts.googleapis.com/css?family=Poppins');

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.8)) ,url("https://manoa.hawaii.edu/omsshui/images/2017-peer-mentors.jpg") ;
  background-size: cover;
  height: 500px;
  color: white;
}

.background.row {
  --bs-gutter-x: 0;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: lightgray;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://manoa.hawaii.edu/omsshui/rio/images/8.jpg') no-repeat center center fixed;
  color: white;
}

.blue-background {
  background-color: cadetblue;
  color: white;
}

.colorblocktop {
  padding-top: 20px;
}

body {
  font-family: 'Calibri Light', sans-serif;
}

.row {
  margin-right: 0;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

