.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("https://manoa.hawaii.edu/omsshui/images/2017-peer-mentors.jpg");
  background-size: cover;
  height: 700px;
  color: white;
}

.white-background {
  background-color: white;
  height: 200px;
}

.grey-background {
  background-color: lightgray;
  height: 200px;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://manoa.hawaii.edu/omsshui/rio/images/8.jpg') no-repeat center center fixed;
  height: 200px;
  color: white;
}

.colorblocktop {
  padding-top: 20px;
}