@import url('https://fonts.googleapis.com/css?family=Poppins');

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.6)) ,url("https://manoa.hawaii.edu/omsshui/gallery/images/2018/Wednesday.JPG") ;
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://manoa.hawaii.edu/omsshui/rio/images/8.jpg') no-repeat center center fixed;
  color: white;
}

.background.row {
  --bs-gutter-x: 0;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: lightgray;
}

.teal-background {
  background-color: #25A18E;
  color: white;
}

.blue-background {
  background-color: #00A5CF;
  color: white;
}

.green-background {
  background-color: #4a7c59;
  color: white;
}

.colorblocktop {
  padding-top: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-right: 0;
}

a.bi {
  color: white;
}



