@import url('https://fonts.googleapis.com/css2?family=Albert+Sans');

.background {
  background-image: linear-gradient(160deg, rgba(74, 124, 89, 0.5), rgba(0,0,0,0.6) 70%),
  url("images/group2019_2.jpg");
  background-size: cover;
  height: 500px;
  color: white;
}

.row {
  margin-right: 0;
}

.white-background {
  background-color: white;
}

.teal-background {
  background-color: #25A18E;
  color: white;
}

.blue-background {
  background-color: #00A5CF;
  color: white;
}

.green-background {
  background-color: #4a7c59;
  color: white;
}

body {
  font-family: 'Albert Sans', sans-serif;
}

.image-list-small {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: auto;
  margin: 0 12px 30px;
}

.image-list-small li > a {
  display: inline-block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  padding: 0;
  outline: 1px solid #d0d0d0;
  box-shadow: 0 2px 1px #DDD;
  border-radius: 50%;

  position: relative;
  width: 150px;
  overflow: hidden;
}

a.bi {
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 1;
}