@import url('https://fonts.googleapis.com/css?family=Poppins');

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.8)) ,url("images/group2018.JPG");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
}

.row {
  margin-right: 0;
}

.white-background {
  background-color: white;
}

.teal-background {
  background-color: #25A18E;
  color: white;
}

.blue-background {
  background-color: #00A5CF;
  color: white;
}

.green-background {
  background-color: #4a7c59;
  color: white;
}

.grad-background {
  background: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.7)) , url("images/group2018.JPG") no-repeat  center center fixed;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
}

.image-list-small {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: auto;
  margin: 0 12px 30px;
}

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 125px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid #d0d0d0;
  box-shadow: 0 2px 1px #DDD;
  border-radius: 50%;

  position: relative;
  width: 125px;
  overflow: hidden;
}

a.bi {
  color: white;
}